{
  "presets": [
    ["@babel/env", { "modules": false }],
    ["@babel/react", { "runtime": "automatic" }]
  ],
  "plugins": ["@babel/transform-runtime"],
  "env": {
    "test": {
      "presets": [
        ["@babel/env", { "modules": "commonjs" }],
        ["@babel/react", { "runtime": "automatic" }]
      ]
    }
  }
}
